</body>
<footer class="white-section">
    <div class="container-fluid foot">
      <p><img src="image/zuri.png " alt="Zuri Logo" width="200"/><img src="/image/i4g.png" alt="Ingresive" width="200"><img src="/image/hng.png" alt="HNG Logo" width="200"></p>
       
    </div> 
   
  </footer>
</div>
</html>