<%- include('partials/header.ejs'); %>


<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Success</h4>
    <p>Your message has been sent!</p>
    <hr>
    <form action="/" method="GET">
        <button class="btn btn-lg btn-warning" type="submit">Homepage</button>
    </form>
</div>















<%- include('partials/footer.ejs') %> 